@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    margin: 0;
    padding: 0;
}

.dot-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.row {
    width:100%;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:disabled {
    opacity: 1;
}

.dot {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    background-color: #888;
    border-style: none;
    border-radius: 50%;
    display: inline-block;
    margin: 0.4rem;
}

.dot:hover {
  background-color: #999;
}

.blue:checked {
    background-color: #03a3f1;
}

.pink:checked {
    background-color: #d229a0;
}

.purple:checked {
    background-color: #6802a1;
}

.turquoise:checked {
    background-color: #00a476;
}

.transparent {
    display: inline-block;
    background-color: #0000;
    cursor: auto;
    height: 4rem;
    width: 4rem;
    margin: 0.4rem;
}

.transparent:hover {
    background-color: #0000;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    color: #c1c1c1;
    font-family: 'Comfortaa', cursive;
    text-shadow: 3px 3px 10px #222;
}

.start {
    font-size: 28px;
    line-height: 34px;
}

.final {
    font-size: 36px;
    text-transform: uppercase;
}

.message button {
    cursor: pointer;
    height: 8rem;
    width: 8rem;
    font-size: 24px;
    background-color: #888;
    color: #c1c1c1;
    border-style: none;
    border-radius: 50%;
    margin: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    box-shadow: 3px 3px 10px #222;
}

.message button:hover {
    background-color: #999;
}

@media screen and (max-width: 767px) {
	.dot, .transparent {
    height: 3rem;
    width: 3rem;
    margin: 0.4rem;
	}

  .start {
    font-size: 24px;
    line-height: 30px;
  }

  .final {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px) {
  .dot, .transparent {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.3rem;
	}

  .start {
    font-size: 20px;
    line-height: 20px;
  }

  .final {
    font-size: 24px;
  }

  .message button {
    height: 6rem;
    width: 6rem;
    font-size: 18px;
    margin: 0.4rem;
  }
}

@media screen and (max-width: 450px) {
  .dot, .transparent {
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
	}

  .start {
    font-size: 16px;
  }
}
